.confirmation,
.locInfo,
.cInfo,
.areaInfo,
.capInfo {
  background: #fff;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 60px;
}


header{
  height:8cm;
  padding:0 2cm;
  position:running(header);
  background-color:var(--header-bg-color);
}

header .headerSection{
  display:flex;
  justify-content:space-between;
}

header .headerSection:first-child{
  padding-top:.5cm;
}

header .headerSection:last-child{
  padding-bottom:.5cm;
}

header .headerSection div:last-child{
  width:35%;
}

header .logoAndName{
  display:flex;
  align-items:center;
  justify-content:space-between;
}

header .logoAndName svg{
  width:1.5cm;
  height:1.5cm;
  margin-right:.5cm;
}

header .headerSection .invoiceDetails{
  padding-top:.5cm;
}

header .headerSection h3{
  margin:0 .75cm 0 0;
  color:var(--highlight-color);
}

header .headerSection div:last-of-type h3:last-of-type{
  margin-top:.5cm;
}

header .headerSection div p{
  margin-top:2px;
}

header h1,
header h2,
header h3,
header p{
  margin:0;
}

header .invoiceDetails,
header .invoiceDetails h2{
  text-align:right;
  font-size:1em;
  text-transform:none;
}

header h2,
header h3{
  text-transform:uppercase;
}

header hr{
  margin:1cm 0 .5cm 0;
}

footer{
  height:3cm;
  line-height:3cm;
  padding:0 2cm;
  position:running(footer);
  background-color:var(--footer-bg-color);
  font-size:8pt;
  display:flex;
  align-items:baseline;
  justify-content:space-between;
}

footer a:first-child{
  font-weight:bold;
}

main{
  
}

main table{
  width:100%;
  border-collapse:collapse;
}

main table thead th{
  height:1cm;
  color:var(--highlight-color);
}

main table thead th:nth-of-type(2),
main table thead th:nth-of-type(3),
main table thead th:last-of-type{
  width:2.5cm;
}

main table tbody td{
  padding:2mm 0;
}

main table thead th:last-of-type,
main table tbody td:last-of-type{
  text-align:right;
}

main table th{
  text-align:left;
}

main table.summary{
  width:calc(40% + 2cm);
  margin-left:60%;
  margin-top:.5cm;
}

main table.summary tr.total{
  font-weight:bold;
  background-color:var(--highlight-color);
}

main table.summary th{
  padding:4mm 0 4mm 1cm;
}

main table.summary td{
  padding:4mm 2cm 4mm 0;
  border-bottom:0;
}



.dropdown-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  overflow-y: scroll;
  align-items: center;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 10px;
  padding: 0;
  list-style: none;
  height: 50%;
  width: 50%;
}

.dropdown-item {
  padding: 10px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
}

.text {
  color: #3c009d;
  font-size: 48px;
  font-weight: 700;
}

.inputs {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.input {
  display: flex;
  align-items: center;
  margin: auto;
  width: 480px;
  height: 80px;
  background: #eaeaea;
  border-radius: 6px;
}

.input input {
  height: 50px;
  width: 400px;
  background: transparent;
  margin: auto;
  border: none;
  outline: none;
  color: #797979;
  font-size: 19px;
}

.imgDrop{
    width: 20%;
    height: 70%;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 0px;
    margin-right: 5px;
}

.nButton,
.pButton,
.logoutButton,
.DownloadButton {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 10px;
  width: 220px;
  height: 59px;
  color: #fff;
  background: #9452ef;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.hHeader {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-bottom: 60px;
  color: #3c009d;
  font-size: 48px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-bottom: 60px;
  color: #000000;
  font-size: 20px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
}
